// pug D:\Web\Projects\Templete-7 -w -P
|
|
doctype
html
    head
        // Start css files
        link(rel="stylesheet" href="css/main.css")
        link(rel="stylesheet" href="css/all.min.css")
        link(rel="stylesheet" href="css/normaliz.css")
    body
        // Start Content Menu
        .content-menu.no-display
            <i class="fa-solid fa-xmark"></i>
            ul
                li 
                    a(href= "./index.html") Home
                li 
                    a(href= "./generic.html") Generic 
                li 
                    a(href= "./elements.html") Elements
                li 
                    a Sign UP
                li 
                    a Sign in
        // End content menu
        // start header bar
        block bar
            .bar
                h2 SPECTRAL
                .menu
                    span menu
                    <i class="fa-solid fa-bars"></i>
        // End header bar
        block contentPage
            // Start landing
            .landing.show-display
                .container
                    h1.show-display SPECTRAL
                    span.show-display ANOTHER FINE RESPONSIVE SITE TEMPLATE FREEBIE CRAFTED BY <a href="">HTML5 UP.</a>
                    button.show-display
                        a(href="") Activate
                .transform-section.show-display
                    span Learn more
                    <i class="fa-solid fa-arrow-down"></i>
            // End landing
            // Start Major section 
            .major 
                .container
                    .title-section
                        h2 ARCU ALIQUET VEL LOBORTIS ATA NISL EGET AUGUE AMET ALIQUET NISL CEP DONEC
                        P Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.
                    ul 
                        li 
                            a
                                <i class="fa-regular fa-gem"></i>
                        li 
                            a
                                <i class="fa-regular fa-heart"></i>
                        li 
                            a
                                <i class="fa-solid fa-code"></i>
            // End Major section 
            // Start Section Two
            .two
                .box
                    .image
                        img(src="./image/pic01.jpg")
                    .info
                        h2 MAGNA PRIMIS LOBORTIS SED ULLAMCORPER
                        P Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.
                .box.reverse
                    .image
                        img(src="./image/pic02.jpg")
                    .info
                        h2 TORTOR DOLORE FEUGIAT ELEMENTUM MAGNA
                        P Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.
                .box
                    .image
                        img(src="./image/pic03.jpg")
                    .info
                        h2 AUGUE ELEIFEND ALIQUET SED CONDIMENTUM
                        P Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.
            // End Section Two
            // Start Three section
            .three
                .container
                    .title-section
                        h2 ACCUMSAN MUS TORTOR NUNC ALIQUET
                        p Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.
                    .boxes
                        .box
                            h3 ARCU ACCUMSAN
                            p Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.
                        .box
                            h3 AC AUGUE EGET
                            p Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.
                        .box
                            h3 MUS SCELERISQUE
                            p Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.
                        .box
                            h3 MAURIS IMPERDIET
                            p Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.
                        .box
                            h3 AENEAN PRIMIS
                            p Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.
                        .box
                            h3 TORTOR UT
                            p Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.
            // End Three Section
            // Start Section Four
            .four 
                .container
                    .info
                        h2 ARCUE UT VEL COMMODO
                        p Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.
                    .button 
                        button Activate
                        button.white Learn More
            // End Section Four
        // Start Section Footer
        .footer 
            .container
                ul
                    li 
                        a: <i class="fa-brands fa-twitter"></i>
                    li 
                        a: <i class="fa-brands fa-facebook-f"></i>
                    li 
                        a: <i class="fa-brands fa-github"></i>
                    li 
                        a: <i class="fa-brands fa-instagram"></i>
                    li 
                        a: <i class="fa-brands fa-linkedin"></i>
                span © UNTITLED | DESIGN: 
                    a HTML5 UP
        // End Section Footer
        // Start javaScript Files
        script(src="js/main.js")
